.btn {
  padding: 10px 20px;
  margin: 0 20px;
  border: 0;
  background: red;
  border-radius: 25px;
  cursor: pointer;
}

.user {
  color: white;
  background: magenta;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 20px;
}
